html {
  font-size: 14px;
}

@media screen and (min-width: 768px){
  html {
    font-size: 16px;
  }
}


a {
  color: #333;
  text-decoration: none;
}

p {
  text-align: center;
}

/* HEADER */

.header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 16px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.header-item {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px){
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0;
  }
  .header-list {
    margin-top: 0;
  }

  nav ul {
    padding-right: 45px;
  }

  .header-item {
    margin-left: 2.5rem;
  }
}

/* MAIN */

.firstview {
  background-image: url(../image/main.webp);
  background-size: cover;
  background-position: center;
  height: 700px;
}

.firstview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.3rem;
  height: 100%;
  letter-spacing: 0.3rem;
  text-shadow: #ddd 3px 3px 3px;
}

.bgc {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}

.firstview-message .blue {
  color: #38d6ff;
  text-shadow: #777 3px 3px 3px;
}

@media screen and (min-width: 768px) {
  .firstview-message {
    font-size: 5.5rem;
    letter-spacing: 0.5rem;
  }
}


/*ABOUT*/

.about {
  max-width: 800px;
  margin: 120px auto 0;
  padding: 0 16px;
}

.cmn-title {
  text-align: center;
  font-weight: bold;
}

.sub-title {
  display: block;
  color: #38d6ff;
  font-size: 1.5rem;
}

.main-title {
  display: block;
  font-size: 2rem;
}


.about-wrapper {
  margin-top: 60px;
}

.about-image {
  text-align: center;
}

.about-text {
  margin-top: 40px;
}

.about-subtitle {
  font-size: 1.5rem;
  color: #38d6ff;
  margin-bottom: 0.5rem;
  text-align: center;
}

.about-career {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    display: flex;
  }

  .about-text {
    margin-top: 0;
    margin-left: 80px;
  }
}


/* SKILLS*/

.skills {
  max-width: 1024px;
  margin: 120px auto 0;
  padding: 0 16px;
}

.skill-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.skill-image {
  height: 180px;
  text-align: center;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.skill-desc {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  
  .skill-list {
    max-width: 500px;
    margin: 60px auto 0;
  }
  
  .skill-item {
    width: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .skill-list {
    max-width: 100%;
  }

}


/*WORKS*/

.works {
  max-width: 900px;
  margin: 120px auto 0;
}

.work-list {
  margin-top: 60px;
}

.work-item {
  margin-top: 45px;
}

.work-item.reverse {
  flex-direction: row-reverse;
}


.salon {
  padding-left: 45px;

}

.work-image img {
  width: 100%;
}

.work-text {
  margin-top: 2rem;
  padding: 0 16px;
}

.work-desc {
margin-top: 1rem;
}

@media screen and (min-width: 768px) {

  .work-item {
    display: flex;
    gap: 0 50px;
  }

  .work-image {
    width: 50%;
  }

  .work-text {
    padding: 0;
    width: 50%;
  }
}


/* CONTACT */

.contact {
  margin: 120px 0;
  text-align: center;
}

.contact-text {
  margin-top: 60px;
}

.contact-mail {
  font-size: 2rem;
  font-weight: bold;
}

.icon-area {
  margin-top: 30px;
}

.icon-area .fab {
  font-size: 2rem;
  margin: 0 1rem;
}



.footer {
  background-color: #ddd;
  padding: 30px 16px 10px;

}

.footer-list {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;

}

.footer-item {
  font-size: 1.2rem;

}

.copyright {
  margin-top: 2rem;
  text-align: center;
}